@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-12">
        <h2>Roteador de Urls</h2>
        <p>Projeto para realizar o roteamento de URLs realizando o controle de acesso e configuração para diferentes rotas a depender do sistema operacional do dispositivo móvel que está realizando o acesso.</p>
        <h3>Estrutura do Projeto</h3>
        <p>Desenvolvido em .NET C# Core, com três projetos:</p>
        <ul>
            <li><strong>UrlRouter.AspNetMvc : </strong> Responsável pela interfaces de manutenção das rotas e configuração e disponibilização do acesso a URL, via Action;</li>
            <li><strong>UrlRouter.WebApi :</strong> Responsável pelo acesso ao repositório de dados, MongoDB em container;</li>
        </ul>
    </div>
</div>
